{% extends 'layouts/base.html' %}

{% load static %}

{% block script %}
{% endblock %}


{% block content %}

<div class="container-fluid py-4">
  {% if graphfile %}  
  <div class="row ">
    <div class="col-lg-12">
      <div class="card z-index-2">
        <div class="card-header pb-0">
          <h6>Graph [<a href="/media/figures/{{graphfile}}" class="fas fa-download text-black p-2" download></a>]</h6>
        </div>
            <img src="/media/figures/{{graphfile}}" alt="Graph" style="width:1100px;height:550px;">
      </div>
    </div>
  </div>
  {% else %}
  <div class="row ">
    <div class="col-lg-12">
      <div class="card z-index-2">
        <div class="card-header pb-4">
        <code style="color:rgb(138, 89, 89)"> Phase-based Epidemic Time series Analyzer(PEpiTA) is an interactive tool for public health
          practitioners to extract insights from time series data related to ongoing epidemic outbreaks.<br><br>
          Specifically, the tool will allow users to select a time series of epidemiological significance and
          extract categorical indicators of activity over time. These categories could either be based 
          on level of activity (e.g., quantile of wastewater viral load) or rate of change (e.g., change in
          hospitalization rate). Such categorical indicators have been very useful for policymaking at
          state, federal, and local levels during the COVID-19 response as well as for tracking seasonal
          influenza over the years. <br><br>The team at UVA-BI has developed and refined various such indicators
          in collaboration with Virginia Department of Health and US Centers for Disease Control and
          Prevention for situation assessment as well as improved forecasting. Our goal is to
          build a pathogen-agnostic platform for public health departments to adopt for tracking and
          responding to various outbreaks. <br><br>Steps to be followed:<br>
          1. Upload a publicly-available time series for analysis.<br>
          2. Select the Data Preprocessing methods.<br>
          3. Choose among pre-defined rules for category extraction.<br>
          4. Customize analytical parameters such as number of bins, trend window widths.<br>
          5. Click the run button to generate the graphs.<br><br>
          References<br>
          1. Virginia Department of Health, District Trajectory Map,
          <a href ="https://www.vdh.virginia.gov/coronavirus/see-the-numbers/covid-19-modeling/district-trajectory-map/" target="_blank">
            https://www.vdh.virginia.gov/coronavirus/see-the-numbers/covid-19-modeling/district-trajectory-map/</a></code>
        </div>
      </div>
    </div>
  </div>

  {% endif %}

  <!-- {% if chartspec %} 
  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="card z-index-2">
        <div class="card-header pb-0">
          <h6>Interactive Chart [work in progress..]</h6>
        </div>
          <div id="chartId"></div>
  </div>
  {% endif %} -->

  {% if qdata %}
  <div class="row mt-4">
    <div class="col-9">
      <div class="card mb-3">
        <div class="card-header pb-0">
          <h6>Categorization table</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center justify-content-center mb-0">
              <thead >
                <tr>
                  <th class="align-middle text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-10">Index</th>
                  <th class="align-middle text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-10">Category</th>
                  <th class="align-middle text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-10">Count</th>
                  <th class="align-middle text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-10">Percent</th>
                  <th class="align-middle text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-10">Bounds</th>
                </tr>
              </thead>
              <tbody>
                {% for i in qdata %}
                <tr >
                  <td class="align-middle text-center">
                    <h6 class="mb-0 text-sm">{{i.index}}</h6>
                  </td>
                  <td class="align-middle text-center">
                    <h6 class="mb-0 text-sm">{{i.category}}</h6>
                  </td>
                  <td class="align-middle text-center">
                    <h6 class="mb-0 text-sm">{{i.count}}</h6>
                </td>
                <td class="align-middle text-center">
                  <h6 class="mb-0 text-sm">{{i.percent}}</h6>
                 
              </td>
              <td class="align-middle text-center" >
                <h6 class="mb-0 text-sm">{{i.bounds}}</h6>
            
            </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  
    {% endif %}
    {% if catdownload %}
      <h6>Download Categorical Time Series csv [<a href="/media/categorize_output/{{catdownload}}" class="fas fa-download text-black" download></a>]</h6>
      
  </div>
  {% include "includes/footer.html" %}
  {% endif %}
</div>
{% endblock content %}