{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <h6 class="text-black up mb-0">Phase-based Epidemic Time series Analyzer</h6>
    </nav>
  </div>
  {% if 'csvtables' in currentpath %}
  <div class="container-fluid py-1 px-7">
    <a href="javascript:history.go(-1);" class="nav-link text-body font-weight-bold">
      <i class="fa fa-backward me-sm-1"></i>
      <span class="d-sm-inline d-none">Back to Analysis</span>
    </a>
  </div>
  {% elif csvdata and csvtype%}
    <div class="container-fluid py-1 px-7">
      <a href="{% url 'csvtables' %}" class="nav-link text-body font-weight-bold">
        <i class="fa fa-file-csv me-sm-1"></i>
        <span class="d-sm-inline d-none">View CSV Data</span>
      </a>
    </div>
    {% endif %}
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="https://biocomplexity.virginia.edu/" target="_blank">
        <img src="{% static 'images/uva_biocomplexity.png' %}" class="navbar-brand-img h-50" alt="main_logo">
      </a>
    </div>
  
</nav>
<!-- End Navbar -->
