{% load static %}

<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 " id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
  <a class="navbar-brand m-0" href="{% url 'index' %}">
      <!-- <img src="{% static 'img/logo-ct-dark.png' %}" class="navbar-brand-img h-100" alt="main_logo"> -->
      <span class="font-weight-bold"><h4>PEpiTA</h4></span>
    </a>
  
  </div>
  <div class="sidenav-footer mx-3 ">
    <div class="card bg-light" id="sidenavCard">
      <div class="card-body text-start p-0 w-100">
        <div class="docs-info">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label>Select csv type:</label>
            <ul >
              <li style="list-style-type: none;"><input type="radio" id="singletime" name="uploadtype" value="Single-time">
                <label >Single-time series </label></li>
                <li style="list-style-type: none;"><input type="radio" id="multitime" name="uploadtype" value="Multi-time">
                <label>Multi-time series </label></li>
            <label>Frequency</label><br>
                <input type="radio" id="daily" name="csvfrequency" value="daily">
                  <label >Daily </label>
                  <input type="radio" id="weekly" name="csvfrequency" value="weekly">
                  <label>Weekly </label>
              </ul>
            <label class="text-black up bold mb-0 p-0 w-100">Upload csv file:</label>
            <div class="row content">
                <div class="col">
                    <input type="file" class="btn btn-sm shadow-sm bg-white p-0 m-50" name="document" style="max-width:200px" id="document" required="required">
                </div>
                 <div class="col">
                  <button id="submit" name="uploadbutton" class="shadow-sm bg-white rounded  ">Click to upload</a>
                </div>
            </div>
        </form>
        </div>
      </div>
    </div>
  {% if csvname %} 
  <div>
    <code>File in memory: {{csvname}}</code>
    <code>Last Updated: {{csvtime}}</code>
  </div>
  {% elif messages %}
  <div class="container" style="color: firebrick; margin-top: 20px" >
  {% for message in messages %}
      {{ message }}
  {% endfor %}
  </div>
  {% else %}
  &nbsp;
  {% endif %}

   <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card bg-light" id="sidenavCard2">
      <div class="card-body text-start p-0 w-100">
            <label>Select Data Preprocess methods:</label>
              <ul>
                <li style="list-style-type: none;"><input type="checkbox" id="fill_dates"  name="datapreprocess" value="fill_dates">
                  <label for="fill_dates"> Fill Dates</label></li>
                <li style="list-style-type: none;"><input type="checkbox" id="fill_values"  name="datapreprocess" value="fill_values">
                  <label for="fill_values"> Fill Values</label></li>
                <li style="list-style-type: none;"><input type="checkbox" id="smoothing"  name="datapreprocess" value="smoothing">
                  <label for="smoothing"> Smoothing</label></li>
                  <ul>
                    <li style="list-style-type: none;">
                      <label for="binsize" style="float: left;">Window:</label>
                      <span style="display: block; overflow: hidden; padding: 0 4px 0 6px;">
                        <input type="text" id="smoothingwindow" name="smoothingwindow" placeholder="7" style="width:70%;height:28px">
                      </span>
                    </li></ul>
              </ul>
            </div>
          </div>
          &nbsp;
          <div class="card bg-light" id="sidenavCard3">
            <div class="card-body text-start p-0 w-100">
              <label>Data Categorize</label><br>
              <ul>
              <li style="list-style-type: none;">
                <label for="binsize" style="float: left;">Number of Bins:</label>
                <span style="display: block; overflow: hidden; padding: 0 4px 0 6px;">
                  <input type="text" id="binsize" name="binsize" placeholder="5" style="width:91%;height:28px">
                </span>
              </li>
              <li style="list-style-type: none;">
                  <li style="list-style-type: none;"><input type="radio" id="categorizetypelevel" name="categorizetype" value="categorizetypelevel" onclick="displaySelect()">
                    <label >Level Based</label>
                    <select name="levelbasedtype" id="levelbasedtype" style="width:61%;height:30px;font-size:13px;padding-top:1px;display:none">
                      <option value="L-cut">L-cut</option>
                      <option value="L-qcut">L-qcut</option>
                  </select></li>

                  <li style="list-style-type: none;"><input type="radio" id="categorizetypetrend" name="categorizetype" value="categorizetypetrend" onclick="displaySelect()">
                      <label >Trend Based</label>
                      <select name="trendbasedtype" id="trendbasedtype" style="width:63%;height:30px;font-size:13px;padding-top:1px;display:none">
                        <option value="T-rate">T-rate</option>
                        <option value="T-percent">T-percent</option>
                    </select></li>
                    <li style="list-style-type: none;">
                      <div style="display:none" id="trendbasedtypetextdiv">
                      <label for="trendsize" style="float: left;">Trend window:</label>
                      <span style="display: block; overflow: hidden; padding: 0 4px 0 6px;">
                        <input type="text" id="trendsize" name="trendsize" placeholder="5" style="width:80%;height:28px">
                      </span>
                    </div>
                    </li>
              </li>
              </ul>
              <div class="col"> 
                <button id="submitmethod" name="methodsbutton" class="shadow-sm bg-white rounded  ">Run</a>
              </div>
      </div>
    </div>
  </form> 

  {% block messages %}
  {% if messages %}
      <div class="container" style="color: firebrick; margin-top: 20px" >
      {% for message in messages %}
          {{ message }}
      {% endfor %}
      </div>
  {% endif %}
{% endblock %}
{% if catdownload %}
<h6>Download Categorical Time Series csv [<a href="/media/categorize_output/{{catdownload}}" class="fas fa-download text-black p-2" download></a>]</h6>
{% endif %}

</aside>